{% load static custom_tags %}

<div class="float-right user_right_box">
    <div class="question_bottom_box font12">
        {% if question.is_article %}
            <small class="font12 pb-1">geschrieben {{ question.idate|naturaltime_v2 }}</small>
        {% else %}
            <small class="font12 pb-1" title="{{ question.idate }}">
                gefragt
                <time itemprop="dateCreated" datetime="{{ question.idate|convert_utc_iso }}">
                    {{ question.idate|naturaltime_v2 }}
                </time>
            </small>
        {% endif %}
        <div class="custom_row mt-1">
            <div class="col-3">
                {% if question.user.profile.profile_image %}
                    <img src="{{ question.user.profile.profile_image.url }}" alt="" width="32">
                {% else %}
                    <img src="https://www.gravatar.com/avatar/{{ question.user.profile.hash_id }}?s=32&d=identicon&r=PG&f=1"
                         alt="" width="32" height="32" class="bar-sm">
                {% endif %}
            </div>
            <div class="col">
                <div class="font12">
                    {% if question.user.profile %}
                        <a href="{{ question.user.profile.get_absolute_url }}" class="text-bold link_color font12">
                            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                                <span itemprop="name">{{ question.user.profile.username }}</span>
                            </span>
                            {% if question.user.profile.verified %}
                                <i class="fa fa-badge-check"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        inaktiver Nutzer
                    {% endif %}
                    <br>
                    <small class="font-weight-600 font11">
                        {% if question.user.profile.other_status %}
                            {{ question.user.profile.other_status }},
                        {% elif question.user.profile.status %}
                            {{ question.user.profile.get_status_display }},
                        {% endif %}
                        {% if question.user.profile %}
                            Punkte: {{ question.user.profile.points|cool_number }}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <p class="font11 mt-2">
        {% if question.edited_by_id and question.edited_by_id != question.user_id %}
            <a href="{{ question.edited_by.profile.get_absolute_url }}"
               class="text-bold link_color">
                {{ question.edited_by.profile.username }}
            </a> hat {{ question.edited_at|naturaltime_v2 }} bearbeitet
        {% endif %}
    </p>
</div>
