<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="120 0 587.38 146.53" style="font-family: nunito sans,sans-serif;enable-background:new 0 0 587.38 146.53;width: 190px;    padding-top: 5px;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#293B5F;}
	.st2{font-size:59px; font-weight: bold;}
</style>
<g>
	<text transform="matrix(1 0 0 1 142.1815 88.8205)" class="st0 st1 st2">meta-fragen.de</text>
</g>
</svg>
