<p><span
        style="color: #333333; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; background-color: #ffffff;">Die Baulandreserve einer Kleinstadt beträgt gegenwärtig 343000 </span>. Während im laufenden Jahr exakt 12000 </span><span
        class="math-tex"
        style="box-sizing: border-box; color: #333333; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; background-color: #ffffff;"><span
        id="MathJax-Element-2-Frame" class="MathJax"
        style="box-sizing: border-box; display: inline; line-height: normal; word-spacing: normal; overflow-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0px; min-height: 0px; border: 0px; padding: 0px; margin: 0px; position: relative;"
        tabindex="0" role="presentation"
        data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;msup&gt;&lt;mi&gt;m&lt;/mi&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/msup&gt;&lt;/math&gt;"><span
        id="MathJax-Span-6" class="math"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.61em;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: relative; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.313em; height: 0px; font-size: 16.8px;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; clip: rect(1.193em, 1001.31em, 2.384em, -999.997em); top: -2.199em; left: 0em;"><span
        id="MathJax-Span-7" class="mrow"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal;"><span
        id="MathJax-Span-8" class="msubsup"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: relative; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.313em; height: 0px;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; clip: rect(3.396em, 1000.84em, 4.17em, -999.997em); top: -3.985em; left: 0em;"><span
        id="MathJax-Span-9" class="mi"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; font-family: MathJax_Math-italic;">m</span></span><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; top: -4.342em; left: 0.896em;"><span
        id="MathJax-Span-10" class="mn"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; font-size: 11.8776px; font-family: MathJax_Main;">2</span></span></span></span></span></span></span></span><span
        class="MJX_Assistive_MathML"
        style="box-sizing: content-box; top: 0px; left: 0px; clip: rect(1px, 1px, 1px, 1px); user-select: none; position: static; padding: 0px; border: 0px; display: inline; transition: none 0s ease 0s; margin: 0px; vertical-align: 0px; line-height: normal; height: 1px !important; width: 1px !important; overflow: hidden !important;"
        role="presentation">m2</span></span></span><span
        style="color: #333333; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; background-color: #ffffff;"> verbaut  werden, nimmt durch Zuzug und andere Faktoren die neuverbaute Fläche Jahr für Jahr um 2400 </span><span
        class="math-tex"
        style="box-sizing: border-box; color: #333333; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; background-color: #ffffff;"><span
        id="MathJax-Element-3-Frame" class="MathJax"
        style="box-sizing: border-box; display: inline; line-height: normal; word-spacing: normal; overflow-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0px; min-height: 0px; border: 0px; padding: 0px; margin: 0px; position: relative;"
        tabindex="0" role="presentation"
        data-mathml="&lt;math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;&gt;&lt;msup&gt;&lt;mi&gt;m&lt;/mi&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/msup&gt;&lt;/math&gt;"><span
        id="MathJax-Span-11" class="math"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.61em;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: relative; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.313em; height: 0px; font-size: 16.8px;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; clip: rect(1.193em, 1001.31em, 2.384em, -999.997em); top: -2.199em; left: 0em;"><span
        id="MathJax-Span-12" class="mrow"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal;"><span
        id="MathJax-Span-13" class="msubsup"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline-block; position: relative; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; width: 1.313em; height: 0px;"><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; clip: rect(3.396em, 1000.84em, 4.17em, -999.997em); top: -3.985em; left: 0em;"><span
        id="MathJax-Span-14" class="mi"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; font-family: MathJax_Math-italic;">m</span></span><span
        style="box-sizing: content-box; transition: none 0s ease 0s; position: absolute; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; top: -4.342em; left: 0.896em;"><span
        id="MathJax-Span-15" class="mn"
        style="box-sizing: content-box; transition: none 0s ease 0s; display: inline; position: static; border: 0px; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; font-size: 11.8776px; font-family: MathJax_Main;">2</span></span></span></span></span></span></span></span><span
        class="MJX_Assistive_MathML"
        style="box-sizing: content-box; top: 0px; left: 0px; clip: rect(1px, 1px, 1px, 1px); user-select: none; position: static; padding: 0px; border: 0px; display: inline; transition: none 0s ease 0s; margin: 0px; vertical-align: 0px; line-height: normal; height: 1px !important; width: 1px !important; overflow: hidden !important;"
        role="presentation">m2</span></span></span><span
        style="color: #333333; font-family: arial, helvetica, clean, sans-serif; font-size: 14px; background-color: #ffffff;"> zu. Nach wievielen Jahren verfügt die Stadt über keine Baulandreserve mehr? Runden Sie das Ergebnis auf eine ganze Zahl.</span>
</p>
