{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style>
        .videos_content a {
            color: #03689e!important;
        }
    </style>
{% endblock %}

{% block main %}

    <section class="mt-3">
        <div class="container">

            <div class="custom_row">
                <div class="col-xl-9 pt-2 videos_content">

                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-11 text-center">
                            <h4>
                                Videos
                            </h4>
                            <p class="text-left">
                                Wir sehen in unserer heutigen Zeit das Lernen mit Hilfe von Videos als eine wichtige
                                Ergänzung im Lernprozess.
                                Durch Videos können bestimmte Problematiken besser visualisiert werden. Durch die
                                Vielfalt die uns Plattformen wie YouTube bieten, können Probleme auf unterschiedlichste
                                Weise und aus verschiedensten Blickwinkeln betrachtet und verstanden werden.
                                Deshalb wollen wir euch hier einen Überblick über unserer Meinung nach hilfreiche
                                YouTube Kanäle geben.
                                Wir wollen hiermit nicht sagen, dass dies alle hilfreichen Kanäle sind. Deshalb werden
                                wir stetig versuchen diese Liste zu erweitern um die größtmögliche Auswahl zu liefern.
                                Helfer auf unserer Plattform mit einem eigenen Kanal werden auf Rückfrage gerne in die
                                Kategorie "Unsere Helfer" aufgenommen.
                            </p>

                        </div>
                    </div>

                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-3 text-center">
                            <h4 class="">
                                Unsere Helfer
                            </h4>
                            <hr>
                        </div>
                    </div>

                    <div class="custom_row mt-5 text-center mb-5">
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjfuM53r-JfmLBsWujY-Nfg">
                                <img src="https://yt3.ggpht.com/a/AGF-l7_G8DenABsDolgUSHC_JCcLLje36EbscYpZoA=s176-mo-c-c0xffffffff-rj-k-no"
                                     style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCjfuM53r-JfmLBsWujY-Nfg">
                                <small>Endlich Verständlich</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCfXsJuLYubzFwYUZl8Y7dAw">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-o0cOKnkhvN5uDfiRy0cPYTeBjwQS7rGG-ZA=s288-c-k-c0xffffffff-no-rj-mo"
                                     style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCfXsJuLYubzFwYUZl8Y7dAw">
                                <small>Dan Statistik</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCYWds7vnV0f5ZXUxxt0C_AA">
                                <img src="https://yt3.ggpht.com/ytc/AKedOLRvdzfY1KmYSb6ihK-9JU2KMkOQRoCGDwPmf38R=s176-c-k-c0x00ffffff-no-rj"
                                     style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCYWds7vnV0f5ZXUxxt0C_AA">
                                <small>Statistik mit Lennart</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCy0FxMgGUlRnkxCoNZUNRQQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-kjaqAQq2HD-9EHBVyRl23F1458avyAMHn2g=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCy0FxMgGUlRnkxCoNZUNRQQ">
                                <small>Lehrer Schmidt</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCyJjfm6wIlfYuvweDnAL8uQ/"><img
                                    src="https://yt3.ggpht.com/a/AATXAJxDlJdZ2NuDVC_GnZtJk7GSyODurqQQ8YUu4fT1=s100-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCyJjfm6wIlfYuvweDnAL8uQ/">
                                <small>MATHEstudy</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC6o3-fn1kKsvpiRM72TK1JA"><img
                                    src="https://yt3.ggpht.com/a/AATXAJya59qntzcjYcO1A_uT4TU0tcWKZTurWzCZoA=s100-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC6o3-fn1kKsvpiRM72TK1JA">
                                <small>Mathematik Klausurtrainer/ Practiquemos matemáticas</small>
                            </a>
                        </div>
                    </div>


                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-3 text-center">
                            <h4 class="">
                                Allrounder
                            </h4>
                            <hr>
                        </div>
                    </div>

                    <div class="custom_row mt-5 text-center mb-5">
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/user/beckuplearning/featured">
                                <img src="https://yt3.ggpht.com/a/AGF-l78C0jDGrw0NAXZ3jvyw-WTtdTT7506idiXvTw=s288-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/user/beckuplearning/featured">
                                <small>Daniel Jung</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCogSE6uiJyiL31IG-tlxBAw">
                                <img src="https://yt3.ggpht.com/a/AGF-l7_e3WxCMS30GJoY3OyuU5MSAzA00JmTPUnsyg=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCogSE6uiJyiL31IG-tlxBAw">
                                <small>Jörn Loviscach</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC05_iIGvXue0sR01JNpRHzw">
                                <img src="https://yt3.ggpht.com/a/AGF-l7_UP6a42DcYUaxuolN38CPeHZwSq_0na3A4mA=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC05_iIGvXue0sR01JNpRHzw">
                                <small>Simple Club</small>
                            </a>
                        </div>
                    </div>


                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-4 text-center">
                            <h4 class="">
                                Schwerpunkt Schule
                            </h4>
                            <hr>
                        </div>
                    </div>

                    <div class="custom_row mt-5 text-center mb-5">
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCy0FxMgGUlRnkxCoNZUNRQQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-kjaqAQq2HD-9EHBVyRl23F1458avyAMHn2g=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCy0FxMgGUlRnkxCoNZUNRQQ">
                                <small>Lehrer Schmidt</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCgow6QsYMwJD8KPJlJnZ-Gw/featured"><img
                                    src="https://yt3.ggpht.com/ytc/AAUvwnjtULxkrEqJFyaMbQDMo6L5zQi5SO1yNHppCIOVBA=s176-c-k-c0x00ffffff-no-rj"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCgow6QsYMwJD8KPJlJnZ-Gw/featured">
                                <small>Mathe in einer Minute</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC5fmHcYneeEzpAjORhgHrnQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79wZS1MQkpTgOyKpDmYZVFw__g6REeN_ZKHPw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC5fmHcYneeEzpAjORhgHrnQ">
                                <small>Sebastian Schmidt</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCBMO2uAm2LKH5sezY31STow"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78QBivgeqQHciQvBtPORr0QYhm3q5fX-k7ydw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCBMO2uAm2LKH5sezY31STow">
                                <small>Herr Mathe</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC97dp7op_ZjSCNp3DRLGymQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-nWbgSdFROTr2JPcUYklMfgBjapeezdexpgA=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC97dp7op_ZjSCNp3DRLGymQ">
                                <small>DorFuchs</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCaxX8488TqU6bZdcKpxPVvQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-FUrUCC59JEygpNY4quib1yl51XTNzJU2_XA=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCaxX8488TqU6bZdcKpxPVvQ">
                                <small>musstewissen Mathe</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/user/schoolseasy/featured"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-LWd6Po81QazDabICWmHJMQBTqjIGTB4Gjhw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/user/schoolseasy/featured">
                                <small>schoolseasy</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCbDFAFEFrkreZ2kk3BPhc4Q"><img
                                    src="https://yt3.ggpht.com/a/AATXAJxDRWXHqvrfst_UNuJbISlG0toncxvpWOReAw=s100-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/user/schoolseasy/featured">
                                <small>Der Kanal mit dem Fisch</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC6o3-fn1kKsvpiRM72TK1JA"><img
                                    src="https://yt3.ggpht.com/a/AATXAJya59qntzcjYcO1A_uT4TU0tcWKZTurWzCZoA=s100-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC6o3-fn1kKsvpiRM72TK1JA">
                                <small>Mathematik Klausurtrainer/ Practiquemos matemáticas</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/mathemitnawid"><img
                                    src="https://yt3.ggpht.com/ytc/AAUvwnj9dIJIvebUCnXEt99cwZj1fOGHP1_FFuj1GZ-k=s88-c-k-c0x00ffffff-no-rj"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/mathemitnawid">
                                <small>Mathe mit Nawid</small>
                            </a>
                        </div>
                    </div>


                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-3 text-center">
                            <h4 class="">
                                Schwerpunkt Uni
                            </h4>
                            <hr>
                        </div>
                    </div>

                    <div class="custom_row mt-5 text-center mb-5">
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC_FGVqET9-GHgKZ7G0ejTSA"><img
                                    src="https://yt3.ggpht.com/a/AGF-l782uuLN43pXsj5nQpzOcOzLfo2A8EOPNjiJ6Q=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC_FGVqET9-GHgKZ7G0ejTSA">
                                <small>Christian Spannagel</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCGL5AejrZEqscVmr9CjiflA"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79axu3yCGk8FHA5myBBPyMNI2HSY0xYzgaZdQ=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCGL5AejrZEqscVmr9CjiflA">
                                <small>Michael Koch</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjTfChr0yyz4iZq0x12Q6xA"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79SgqrM2asgZs4dgDUKHWmQ4wQ49n-a1tm6YQ=s176-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCjTfChr0yyz4iZq0x12Q6xA">
                                <small>Weitz / HAW Hamburg</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC5FdqkJXPQglcoBi-icuebQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79CPNJAeOPo_c4tXmIVHzeVuSSKN97QjKPZ-Q=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC5FdqkJXPQglcoBi-icuebQ">
                                <small>Math Intuition</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCyJjfm6wIlfYuvweDnAL8uQ/"><img
                                    src="https://yt3.ggpht.com/a/AATXAJxDlJdZ2NuDVC_GnZtJk7GSyODurqQQ8YUu4fT1=s100-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCyJjfm6wIlfYuvweDnAL8uQ/">
                                <small>MATHEstudy</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjfuM53r-JfmLBsWujY-Nfg"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7_G8DenABsDolgUSHC_JCcLLje36EbscYpZoA=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCjfuM53r-JfmLBsWujY-Nfg">
                                <small>Endlich Verständlich</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCq0EGvLTyy-LLT1oUSO_0FQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-pua7Fy8XOjLK1YFSfB_HH0q0C28S5ZBlrXg=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCq0EGvLTyy-LLT1oUSO_0FQ">
                                    <small>Eddie Woo</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCoHhuummRZaIVX7bD4t2czg"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7_tIQytVmJ0iydxQw1KXQqhscTZIUEJikIeKg=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCoHhuummRZaIVX7bD4t2czg">
                                <small>Professor Leonard</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/user/joshstarmer/featured"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78PbYk1S1sUE2zdOxRJYCG80XQmHOVEqc2aIA=s288-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/user/joshstarmer/featured">
                                <small>StatQuest with Josh Starmer</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCFe6jenM1Bc54qtBsIJGRZQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l787vWEo0XEi7rQtLa_021Bz-8fVHQqDiSs3eg=s176-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCFe6jenM1Bc54qtBsIJGRZQ">
                                <small>patrickJMT</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCRGXV1QlxZ8aucmE45tRx8w"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79i1YkbmkLjI0vk2OSoFjhRSaiCIT2WM-IY6g=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCRGXV1QlxZ8aucmE45tRx8w">
                                <small>NancyPi</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC9SPN6qaM0DB455-DrWAdpA"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7_b8kLyxmwb4CqLP8oRF892T1XdbFIbTMW-Gw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC9SPN6qaM0DB455-DrWAdpA">
                                <small>ProfRobBob</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC4a-Gbdw7vOaccHmFo40b9g"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78vydNLUulcxl7-9cp7RyGaVw4AoEzieFN5=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC4a-Gbdw7vOaccHmFo40b9g">
                                <small>Khan Academy</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC_ABJRhYn_W-atwn8o4OKjQ"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7_v7VR2fLayJWBCl_6nvfSP7yyMGJ8-4u53=s176-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC_ABJRhYn_W-atwn8o4OKjQ">
                                <small>Numberbender</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjJGkumY_MJ_NJ_iA839RKA"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7-hSJY4D0sw0Ii8Hi4tL_zijEi_utLX_ulSMQ=s288-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC_ABJRhYn_W-atwn8o4OKjQ">
                                <small>StudyHelpTV</small>
                            </a>
                        </div>

                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC0LfPSALkn8YDhXZf8-Pl5A/featured"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78dVU1areDaPgP7eiqGZwIF4Oi84q0KLljcKQ=s288-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC0LfPSALkn8YDhXZf8-Pl5A/featured">
                                <small>Quatematik</small>
                            </a>
                        </div>

                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCHTK6ZEUvS5nDzesP7ZGGSg"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78NL_862jAx2TT4ntHRv3ql3-7fwl6PMeLvlw=s288-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCHTK6ZEUvS5nDzesP7ZGGSg">
                                <small>MathePeter</small>
                            </a>
                        </div>

                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCjaJWtcinCo86whAwKbt6tw"><img
                                    src="https://yt3.ggpht.com/ytc/AAUvwnifyr86vaQMmMzW5adnnWB8G36GHPvqle11QQ=s176-c-k-c0x00ffffff-no-rj"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCjaJWtcinCo86whAwKbt6tw">
                                <small>TU Wien - Mathe 1 VO</small>
                            </a>
                        </div>
                    </div>

                    <div class="custom_row mt-5 justify-content-center">
                        <div class="col-xl-4 text-center">
                            <h4 class="">
                                Spannende Spielereien
                            </h4>
                            <hr>
                        </div>
                    </div>

                    <div class="custom_row mt-5 text-center mb-5">
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw"><img
                                    src="https://yt3.ggpht.com/a/AGF-l78WRSVDCTysZpO8vGdwdrvpm6z-AiXKL-I4Gw=s176-c-k-c0xffffffff-no-rj-mo"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw">
                                <small>3Blue1Brown</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/user/MindYourDecisions">
                                <img src="https://yt3.ggpht.com/a/AGF-l7-CLw-3zKzSROkoOA5VaX4-eAtboCL7x0ANOA=s288-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto">
                            </a>
                            <br>
                            <a target="_blank" href="https://www.youtube.com/user/beckuplearning/featured">
                                <small>MindYourDecisions</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UC1_uAIS3r8Vu6JjXWvastJg"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79VWciFqWv2W4VAIAqYX7Zc4EtZ8BHSnrY63w=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UC1_uAIS3r8Vu6JjXWvastJg">
                                <small>Mathologer</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCoxcjq-8xIDTYp3uz647V5A"><img
                                    src="https://yt3.ggpht.com/a/AGF-l7_JCztxZl219ilP1PG3ZCkF7VLeECtlIYksfw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCoxcjq-8xIDTYp3uz647V5A">
                                <small>Numberphile</small>
                            </a>
                        </div>
                        <div class="col-xl-4 col-md-3 col-sm-3 mb-5">
                            <a target="_blank" href="https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q"><img
                                    src="https://yt3.ggpht.com/a/AGF-l79_o6QngIpSSvxjU7AnZu86z3_7OzCy-wn2Bw=s176-mo-c-c0xffffffff-rj-k-no"
                                    style="width: 100px; height: auto"></a><br>
                            <a target="_blank" href="https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q">
                                <small>Kurzgesagt-In a Nutshell</small>
                            </a>
                        </div>
                    </div>

                </div>

                {% include 'includes/right_sidebar.html' %}

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}
