<div class="modal fade" id="confirmed_modal" tabindex="-1" role="dialog" aria-labelledby="confirmed_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmed_modalLabel">
                    E-Mail bestätigt!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body share_modal_body">
                <div class="custom_row">
                    <div class="col-sm-6 col-md-12 col-lg-12 text-center">

                        <div class="alert alert-success fade show" role="alert">
                            <strong>
                                Du hast deine E-Mail bestätigt.
                            </strong>

                            <p class="mt-2">
                                Viel Spass beim Lernen <br>
                                und Danke dass du auch anderen hilfst!
                                <i class="fas fa-heart text-danger"></i>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
