<div class="modal fade" id="id_global_stats" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile_tabs stats_tabs justify-content-center">
                    <li class="nav-item">
                        <a href="#thirty_day_tab_stats" class="nav-link no_color_link active" aria-controls="home"
                           role="tab" data-toggle="tab">
                            30 Tage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#week_tab_stats" class="nav-link no_color_link" aria-controls="profile" role="tab"
                           data-toggle="tab">
                            Woche
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#total_tab_stats" class="nav-link no_color_link" aria-controls="messages" role="tab"
                           data-toggle="tab">
                            Insgesamt
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% comment %}
                    The three panes share the same markup. Data is fetched from
                    {% url 'deeper_stats' %} per range and injected by the JS in
                    index.html (extra_js_bottom block), scoped via the
                    js-stats-pane class and data-range attribute.
                    {% endcomment %}
                    <div role="tabpanel" class="tab-pane active js-stats-pane" id="thirty_day_tab_stats"
                         data-range="30">
                        {% include 'modals/includes/global_stats_pane.html' %}
                    </div>
                    <div role="tabpanel" class="tab-pane js-stats-pane" id="week_tab_stats" data-range="7">
                        {% include 'modals/includes/global_stats_pane.html' %}
                    </div>
                    <div role="tabpanel" class="tab-pane js-stats-pane" id="total_tab_stats" data-range="total">
                        {% include 'modals/includes/global_stats_pane.html' %}
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none!important;">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Schließen
                </button>
            </div>

        </div>
    </div>
</div>
