<div class="modal fade" id="id_global_stats" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile_tabs stats_tabs justify-content-center">
                    <li class="nav-item">
                        <a href="#thirty_day_tab_stats" class="nav-link no_color_link active" aria-controls="home"
                           role="tab" data-toggle="tab">
                            30 tage
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#week_tab_stats" class="nav-link no_color_link" aria-controls="profile" role="tab"
                           data-toggle="tab">
                            Woche
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#total_tab_stats" class="nav-link no_color_link" aria-controls="messages" role="tab"
                           data-toggle="tab">
                            Insgesamt
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="thirty_day_tab_stats">
                        <div style="padding-top: 30px;">
                            <h6>
                                <span id="tab_stats_30_percentage">95</span>% der Fragen sind beantwortet
                            </h6>
                            <div class="row" style="padding-top: 5px">
                                <div class="col">
                                    <span class="font13 grey_text">Fragen</span>
                                    <h5 id="tab_stats_30_questions_num">3444</h5>
                                </div>
                                <div class="col">
                                    <span class="font13 grey_text">Anworten</span>
                                    <h5 id="tab_stats_30_answers_num">3444</h5>
                                </div>
                                <div class="col">
                                    <span class="font13 grey_text">Kommentare</span>
                                    <h5 id="tab_stats_30_comments_num">3444</h5>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 30px">
                            <h6>Top 3 Helfer</h6>
                            <div class="" style="padding-top: 5px">
                                <p class="promotion_p">
                                    <a href="#helper.get_absolute_url" class="link_color light_bold">
                                        helper.username
                                        <i class="fa font11 fa-badge-check"></i>
                                    </a>
                                    <br>
                                    <small class="font11">
                                        helper.answers_this_week|cool_number mal geholfen
                                    </small>
                                </p>
                                <p class="promotion_p">
                                    <a href="#helper.get_absolute_url" class="link_color light_bold">
                                        helper.username
                                        <i class="fa font11 fa-badge-check"></i>
                                    </a>
                                    <br>
                                    <small class="font11">
                                        helper.answers_this_week|cool_number mal geholfen
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top: 30px">
                            <h6>Top 3 Fragen</h6>
                            <div class="" style="padding-top: 10px">
                                <p class="promotion_p">
                                    <a href="#helper.get_absolute_url" class="link_color light_bold">
                                        Frage text title
                                    </a>
                                    <br>
                                    <small class="font11">
                                        3 Antworten, 23 Views
                                    </small>
                                </p>
                                <p class="promotion_p">
                                    <a href="#helper.get_absolute_url" class="link_color light_bold">
                                        Frage text title
                                    </a>
                                    <br>
                                    <small class="font11">
                                        3 Antworten, 23 Views
                                    </small>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="week_tab_stats">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="total_tab_stats">

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none!important;">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Schließen
                </button>
            </div>

        </div>
    </div>
</div>
