<div class="modal fade" id="missing_data_modal" tabindex="-1" role="dialog" aria-labelledby="missing_data_modal_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="missing_data_modal_modalLabel">
                    Profil vervollständigen
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body share_modal_body">
                <div class="custom_row">
                    <div class="col-sm-6 col-md-12 col-lg-12">
                        <p id="missing_data_hint">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
