<div class="modal fade" id="points_explain_modal" tabindex="-1" role="dialog" aria-labelledby="points_explain_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="points_explain_label">
                    Die Punkte
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    <p class="font13">
                        Die Punkte setzen sich wie folgt zusammen:
                    </p>
                    <p class="font13">
                        - gestellte Fragen oder gegebene Antworten wurden upvotet (5 Punkte je Upvote)<br>
                        - erhaltene Antwort akzeptiert (2 Punkte je Antwort)<br>
                        - gegebene Antwort wurde akzeptiert (15 Punkte je Antwort)<br>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>