<div class="modal fade" id="report_modal" tabindex="-1" role="dialog" aria-labelledby="ReportLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReportLabel">
                    Inhalt melden
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    {% csrf_token %}
                    <div class="ml-4 mr-4">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group font13">
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="spam" id="spam">
                                    <label class="form-check-label" for="spam">
                                        <b>Spam</b>
                                        <span class="d-block help-block">
                                            Besteht nur, um ein Produkt oder eine Dienstleistung zu bewerben
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="rude_abusive" id="rude_abusive">
                                    <label class="form-check-label" for="rude_abusive">
                                        <b>Unhöflich oder missbräuchlich</b>
                                        <span class="d-block help-block">
                                            Eine vernünftige Person würde diesen Inhalt für einen respektvollen Diskurs ungeeignet finden.
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="general" id="general">
                                    <label class="form-check-label" for="general">
                                        <b>Sollte geschlossen werden</b>
                                        <span class="d-block help-block">
                                            Dieser Beitrag ist völlig unklar, unvollständig, übermäßig breit und es ist unwahrscheinlich, dass sie über die Bearbeitung behoben werden.
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="duplicate" id="duplicate">
                                    <label class="form-check-label" for="duplicate">
                                        <b>Duplikat</b>
                                        <span class="d-block help-block">
                                            Dieser Beitrag existiert bereits.
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="bad_quality" id="bad_quality">
                                    <label class="form-check-label" for="bad_quality">
                                        <b>Sehr schlechte Qualität</b>
                                        <span class="d-block help-block">
                                            Dieser Beitrag hat schwerwiegende Formatierungs- oder Inhaltsprobleme.
                                            Es ist unwahrscheinlich, dass der Inhalt durch die Bearbeitung zu retten ist und möglicherweise entfernt werden muss.
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="incomplete" id="incomplete">
                                    <label class="form-check-label" for="incomplete">
                                        <b>zu wenig Intuition und mangelhafte Angaben</b>
                                        <span class="d-block help-block">
                                            Dieser Beitrag hat lückenhafte Angaben und muss geändert werden.
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="report_reason" type="radio" value="need_moderator_attention" id="need_moderator_attention">
                                    <label class="form-check-label" for="need_moderator_attention">
                                        <b>Moderatorintervention nötig</b>
                                        <span class="d-block help-block">
                                            Ein Problem, das oben nicht aufgeführt ist, erfordert die Reaktion eines Moderators.
                                        </span>
                                    </label>
                                </div>
                                <input type="hidden" id="reported_object">
                            </div>
                        </div>
                    </div>

                    <div class=" mt-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button name="button" type="submit" class="send_report btn lrm-button w-100">
                                    Absenden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
