{% load static %}

<div class="modal fade" id="share_modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginLabel">
                    <i class="fal fa-share-alt"></i> &nbsp; Teilen
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body share_modal_body">
                <div class="custom_row">
                    <div class="col-sm-6 col-md-12 col-lg-12 text-center">
                        <div>
                            <a class="share_btn whatsapp_btn w-95"
                               data-url="https://{{ site_domain }}"
                               data-title="{{ site_domain }} - Fragen. Teilen. Helfen.">
                                <i class="fab fa-whatsapp mr-2"></i>Whatsapp
                            </a>
                        </div>
                        <div>
                            <a class="share_btn telegram_btn w-95"
                               data-url="https://{{ site_domain }}"
                               data-title="{{ site_domain }} - Fragen. Teilen. Helfen.">
                                <i class="fab fa-telegram-plane mr-2"></i>Telegram
                            </a>
                        </div>
                        <div>
                            <a class="share_btn messenger_btn w-95"
                               data-title="{{ site_domain }} - Fragen. Teilen. Helfen."
                               data-url="https://{{ site_domain }}">
                                <i class="fab fa-facebook-messenger mr-2"></i>Messenger
                            </a>
                        </div>
                        <div>
                            <a class="share_btn facebook_btn w-95"
                               data-url="https://{{ site_domain }}">
                                <i class="fab fa-facebook-f mr-2"></i>Facebook
                            </a>
                        </div>
                        <div>
                            <a class="share_btn twitter_btn w-95"
                               data-title="{{ site_domain }} - Fragen. Teilen. Helfen."
                               data-url="https://{{ site_domain }}"
                               data-hashtags="letsrockmathe,danieljung">
                                <img src="{% static 'images/x-logo-white.png' %}" alt="Logo von X" width="18"
                                     height="18" /> (Twitter)
                            </a>
                        </div>
                        <div>
                            <a class="share_btn email_btn w-95"
                               data-url="https://{{ site_domain }}"
                               data-subject="https://{{ site_domain }} finde ich mega gut!"
                               data-body="{{ site_domain }} - Fragen. Teilen. Helfen.">
                                <i class="fal fa-at mr-2"></i>E-Mail
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
