{% extends 'base.html' %}
{% load custom_tags %}

{% block extra_head %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}

{% block main %}

    <section class="mt-3">
        <div class="container">

            <div class="custom_row">
                <div class="col-xl-9 pr-0 pl-0 {% if show_confirm_alert %}pt-5{% else %}pt-4{% endif %}">

                    <h4 class="feed_l_padding">
                        <span>
                            Datenschutz
                        </span>
                    </h4>
                    <hr>

                    <div class="custom_row mt-4 mb-5 feed_l_padding feed_r_padding">
                        <div class="font13 col">
                            <div class="vc_col-sm-12 columns vc_column_container mpc-column"
                                 data-column-id="mpc_column-705c3f04cda4e71">
                                <div class="wpb_wrapper">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">

                                            <h6>1. Datenschutz auf einen Blick</h6>
                                            <h6>Allgemeine Hinweise</h6>
                                            <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
                                                Ihren personenbezogenen Daten passiert, wenn Sie unsere Website
                                                besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
                                                persönlich identifiziert werden können. Ausführliche Informationen zum
                                                Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
                                                Datenschutzerklärung.</p>
                                            <h6>Datenerfassung auf unserer Website</h6>
                                            <p><strong>Wer ist verantwortlich für die Datenerfassung auf dieser
                                                Website?</strong></p>
                                            <p>Die Datenverarbeitung auf dieser Website erfolgt durch den
                                                Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser
                                                Website entnehmen.</p>
                                            <p><strong>Wie erfassen wir Ihre Daten?</strong></p>
                                            <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese
                                                mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein
                                                Kontaktformular eingeben.</p>
                                            <p>Andere Daten werden automatisch beim Besuch der Website durch unsere
                                                IT-Systeme erfasst. Das sind vor allem technische Daten (z.B.
                                                Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
                                                Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website
                                                betreten.</p>
                                            <p><strong>Wofür nutzen wir Ihre Daten?</strong></p>
                                            <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
                                                Website zu gewährleisten. Andere Daten können zur Analyse Ihres
                                                Nutzerverhaltens verwendet werden.</p>
                                            <p><strong>Welche Rechte haben Sie bezüglich Ihrer Daten?</strong></p>
                                            <p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft,
                                                Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
                                                erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder
                                                Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum
                                                Thema Datenschutz können Sie sich jederzeit unter der im Impressum
                                                angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein
                                                Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</p>
                                            <h6>Analyse-Tools und Tools von Drittanbietern</h6>
                                            <p>Beim Besuch unserer Website kann Ihr Surf-Verhalten statistisch
                                                ausgewertet werden. Das geschieht vor allem mit Cookies und mit
                                                sogenannten Analyseprogrammen. Die Analyse Ihres Surf-Verhaltens erfolgt
                                                in der Regel anonym; das Surf-Verhalten kann nicht zu Ihnen
                                                zurückverfolgt werden. Sie können dieser Analyse widersprechen oder sie
                                                durch die Nichtbenutzung bestimmter Tools verhindern. Detaillierte
                                                Informationen dazu finden Sie in der folgenden Datenschutzerklärung.</p>
                                            <p>Sie können dieser Analyse widersprechen. Über die
                                                Widerspruchsmöglichkeiten werden wir Sie in dieser Datenschutzerklärung
                                                informieren.</p>
                                            <h6>2. Allgemeine Hinweise und Pflichtinformationen</h6>
                                            <h6>Datenschutz</h6>
                                            <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
                                                sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
                                                entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
                                                Datenschutzerklärung.</p>
                                            <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene
                                                Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie
                                                persönlich identifiziert werden können. Die vorliegende
                                                Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir
                                                sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das
                                                geschieht.</p>
                                            <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei
                                                der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
                                                lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
                                                möglich.</p>
                                            <h6>Hinweis zur verantwortlichen Stelle</h6>
                                            <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website
                                                ist:</p>
                                            <p>Daniel Jung Media GmbH<br />
                                                Altenberger Straße 19-21<br />
                                                50668 Köln</p>

                                            <p>Telefon: +49 221 5700 7717<br>
                                                E-Mail: office@danieljung.io</p>
                                            <p>Verantwortliche Stelle ist die natürliche oder juristische Person, die
                                                allein oder gemeinsam mit anderen über die Zwecke und Mittel der
                                                Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o.
                                                Ä.) entscheidet.</p>
                                            <h6>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h6>
                                            <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
                                                Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
                                                jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an
                                                uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung
                                                bleibt vom Widerruf unberührt.</p>
                                            <h6>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h6>
                                            <p>Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein
                                                Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige
                                                Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der
                                                Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen
                                                seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren
                                                Kontaktdaten können folgendem Link entnommen werden: <a
                                                        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                                                        target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                                            </p>
                                            <h6>Recht auf Datenübertragbarkeit</h6>
                                            <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder
                                                in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an
                                                einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu
                                                lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen
                                                Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch
                                                machbar ist.</p>
                                            <h6>SSL- bzw. TLS-Verschlüsselung</h6>
                                            <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
                                                vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die
                                                Sie an uns als Seitenbetreiber senden, eine SSL-bzw.
                                                TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran,
                                                dass die Adresszeile des Browsers von “http://” auf “https://” wechselt
                                                und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
                                            <p>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten,
                                                die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>
                                            <h6>Verschlüsselter Zahlungsverkehr auf dieser Website</h6>
                                            <p>Besteht nach dem Abschluss eines kostenpflichtigen Vertrags eine
                                                Verpflichtung, uns Ihre Zahlungsdaten (z.B. Kontonummer bei
                                                Einzugsermächtigung) zu übermitteln, werden diese Daten zur
                                                Zahlungsabwicklung benötigt.</p>
                                            <p>Der Zahlungsverkehr über die gängigen Zahlungsmittel (Visa/MasterCard,
                                                Lastschriftverfahren) erfolgt ausschließlich über eine verschlüsselte
                                                SSL- bzw. TLS-Verbindung. Eine verschlüsselte Verbindung erkennen Sie
                                                daran, dass die Adresszeile des Browsers von "http://" auf "https://"
                                                wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
                                            <p>Bei verschlüsselter Kommunikation können Ihre Zahlungsdaten, die Sie an
                                                uns übermitteln, nicht von Dritten mitgelesen werden.</p>
                                            <h6>Auskunft, Sperrung, Löschung</h6>
                                            <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
                                                Recht auf unentgeltliche Auskunft über Ihre gespeicherten
                                                personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
                                                Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder
                                                Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
                                                personenbezogene Daten können Sie sich jederzeit unter der im Impressum
                                                angegebenen Adresse an uns wenden.</p>
                                            <h6>Widerspruch gegen Werbe-Mails</h6>
                                            <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
                                                Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter
                                                Werbung und Informationsmaterialien wird hiermit widersprochen. Die
                                                Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im
                                                Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
                                                Spam-E-Mails, vor.</p>
                                            <h6>3. Datenerfassung auf unserer Website</h6>
                                            <h6>Cookies</h6>
                                            <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies
                                                richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.
                                                Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und
                                                sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
                                                Rechner abgelegt werden und die Ihr Browser speichert.</p>
                                            <p>Die meisten der von uns verwendeten Cookies sind so genannte
                                                “Session-Cookies”. Sie werden nach Ende Ihres Besuchs automatisch
                                                gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie
                                                diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim
                                                nächsten Besuch wiederzuerkennen.</p>
                                            <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von
                                                Cookies informiert werden und Cookies nur im Einzelfall erlauben, die
                                                Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie
                                                das automatische Löschen der Cookies beim Schließen des Browser
                                                aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität
                                                dieser Website eingeschränkt sein.</p>
                                            <p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs
                                                oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen
                                                (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von
                                                Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein
                                                berechtigtes Interesse an der Speicherung von Cookies zur technisch
                                                fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit
                                                andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens)
                                                gespeichert werden, werden diese in dieser Datenschutzerklärung
                                                gesondert behandelt.</p>
                                            <h6>Server-Log-Dateien</h6>
                                            <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in
                                                so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns
                                                übermittelt. Dies sind:</p>
                                            <ul>
                                                <li>Browsertyp und Browserversion</li>
                                                <li>verwendetes Betriebssystem</li>
                                                <li>Referrer URL</li>
                                                <li>Hostname des zugreifenden Rechners</li>
                                                <li>Uhrzeit der Serveranfrage</li>
                                                <li>IP-Adresse</li>
                                            </ul>
                                            <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht
                                                vorgenommen.</p>
                                            <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der
                                                die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
                                                vorvertraglicher Maßnahmen gestattet.</p>
                                            <h6>Kontaktformular</h6>
                                            <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
                                                Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
                                                Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von
                                                Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne
                                                Ihre Einwilligung weiter.</p>
                                            <p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt
                                                somit ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1
                                                lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. Dazu
                                                reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit
                                                der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom
                                                Widerruf unberührt.</p>
                                            <p>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns,
                                                bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung
                                                widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach
                                                abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche
                                                Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben
                                                unberührt.</p>
                                            <h6>Registrierung auf dieser Website</h6>
                                            <p>Sie können sich auf unserer Website registrieren, um zusätzliche
                                                Funktionen auf der Seite zu nutzen. Die dazu eingegebenen Daten
                                                verwenden wir nur zum Zwecke der Nutzung des jeweiligen Angebotes oder
                                                Dienstes, für den Sie sich registriert haben. Die bei der Registrierung
                                                abgefragten Pflichtangaben müssen vollständig angegeben werden.
                                                Anderenfalls werden wir die Registrierung ablehnen.</p>
                                            <p>Für wichtige Änderungen etwa beim Angebotsumfang oder bei technisch
                                                notwendigen Änderungen nutzen wir die bei der Registrierung angegebene
                                                E-Mail-Adresse, um Sie auf diesem Wege zu informieren.</p>
                                            <p>Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf
                                                Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können
                                                eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht
                                                eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der
                                                bereits erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
                                            <p>Die bei der Registrierung erfassten Daten werden von uns gespeichert,
                                                solange Sie auf unserer Website registriert sind und werden anschließend
                                                gelöscht. Gesetzliche Aufbewahrungsfristen bleiben unberührt.</p>
                                            <h6>Registrierung mit Facebook Connect</h6>
                                            <p>Statt einer direkten Registrierung auf unserer Website können Sie sich
                                                mit Facebook Connect registrieren. Anbieter dieses Dienstes ist die
                                                Facebook Ireland Limited, 4 Grand Canal Square, Dublin 2, Irland.</p>
                                            <p>Wenn Sie sich für die Registrierung mit Facebook Connect entscheiden und
                                                auf den “Login with Facebook”- / “Connect with Facebook”-Button klicken,
                                                werden Sie automatisch auf die Plattform von Facebook weitergeleitet.
                                                Dort können Sie sich mit Ihren Nutzungsdaten anmelden. Dadurch wird Ihr
                                                Facebook-Profil mit unserer Website bzw. unseren Diensten verknüpft.
                                                Durch diese Verknüpfung erhalten wir Zugriff auf Ihre bei Facebook
                                                hinterlegten Daten. Dies sind vor allem:</p>
                                            <ul>
                                                <li>Facebook-Name</li>
                                                <li>bei Facebook hinterlegte E-Mail-Adresse</li>
                                                <li>Facebook-ID</li>
                                            </ul>
                                            <p>Diese Daten werden zur Einrichtung, Bereitstellung und Personalisierung
                                                Ihres Accounts genutzt.</p>
                                            <p>Weitere Informationen finden Sie in den Facebook-Nutzungsbedingungen und
                                                den Facebook-Datenschutzbestimmungen. Diese finden Sie unter: <a
                                                        href="https://de-de.facebook.com/about/privacy/"
                                                        target="_blank">https://de-de.facebook.com/about/privacy/</a>
                                                und <a href="https://www.facebook.com/legal/terms/" target="_blank">https://www.facebook.com/legal/terms/</a>.
                                            </p>
                                            <h6>Kommentarfunktion auf dieser Website</h6>
                                            <p>Für die Kommentarfunktion auf dieser Seite werden neben Ihrem Kommentar
                                                auch Angaben zum Zeitpunkt der Erstellung des Kommentars, Ihre
                                                E-Mail-Adresse und, wenn Sie nicht anonym posten, der von Ihnen gewählte
                                                Nutzername gespeichert.</p>
                                            <p><strong>Speicherung der IP-Adresse</strong></p>
                                            <p>Unsere Kommentarfunktion speichert die IP-Adressen der Nutzer, die
                                                Kommentare verfassen. Da wir Kommentare auf unserer Seite nicht vor der
                                                Freischaltung prüfen, benötigen wir diese Daten, um im Falle von
                                                Rechtsverletzungen wie Beleidigungen oder Propaganda gegen den Verfasser
                                                vorgehen zu können.</p>
                                            <p><strong>Speicherdauer der Kommentare</strong></p>
                                            <p>Die Kommentare und die damit verbundenen Daten (z.B. IP-Adresse) werden
                                                gespeichert und verbleiben auf unserer Website, bis der kommentierte
                                                Inhalt vollständig gelöscht wurde oder die Kommentare aus rechtlichen
                                                Gründen gelöscht werden müssen (z.B. beleidigende Kommentare).</p>
                                            <p><strong>Rechtsgrundlage</strong></p>
                                            <p>Die Speicherung der Kommentare erfolgt auf Grundlage Ihrer Einwilligung
                                                (Art. 6 Abs. 1 lit. a DSGVO). Sie können eine von Ihnen erteilte
                                                Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung
                                                per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten
                                                Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.</p>
                                            <h6>Verarbeiten von Daten (Kunden- und Vertragsdaten)</h6>
                                            <p>Wir erheben, verarbeiten und nutzen personenbezogene Daten nur, soweit
                                                sie für die Begründung, inhaltliche Ausgestaltung oder Änderung des
                                                Rechtsverhältnisses erforderlich sind (Bestandsdaten). Dies erfolgt auf
                                                Grundlage von Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten
                                                zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
                                                Personenbezogene Daten über die Inanspruchnahme unserer Internetseiten
                                                (Nutzungsdaten) erheben, verarbeiten und nutzen wir nur, soweit dies
                                                erforderlich ist, um dem Nutzer die Inanspruchnahme des Dienstes zu
                                                ermöglichen oder abzurechnen.</p>
                                            <p>Die erhobenen Kundendaten werden nach Abschluss des Auftrags oder
                                                Beendigung der Geschäftsbeziehung gelöscht. Gesetzliche
                                                Aufbewahrungsfristen bleiben unberührt.</p>
                                            <h6>Datenübermittlung bei Vertragsschluss für Online-Shops, Händler und
                                                Warenversand</h6>
                                            <p>Wir übermitteln personenbezogene Daten an Dritte nur dann, wenn dies im
                                                Rahmen der Vertragsabwicklung notwendig ist, etwa an die mit der
                                                Lieferung der Ware betrauten Unternehmen oder das mit der
                                                Zahlungsabwicklung beauftragte Kreditinstitut. Eine weitergehende
                                                Übermittlung der Daten erfolgt nicht bzw. nur dann, wenn Sie der
                                                Übermittlung ausdrücklich zugestimmt haben. Eine Weitergabe Ihrer Daten
                                                an Dritte ohne ausdrückliche Einwilligung, etwa zu Zwecken der Werbung,
                                                erfolgt nicht.</p>
                                            <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der
                                                die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
                                                vorvertraglicher Maßnahmen gestattet.</p>
                                            <h6>Datenübermittlung bei Vertragsschluss für Dienstleistungen und digitale
                                                Inhalte</h6>
                                            <p>Wir übermitteln personenbezogene Daten an Dritte nur dann, wenn dies im
                                                Rahmen der Vertragsabwicklung notwendig ist, etwa an das mit der
                                                Zahlungsabwicklung beauftragte Kreditinstitut.</p>
                                            <p>Eine weitergehende Übermittlung der Daten erfolgt nicht bzw. nur dann,
                                                wenn Sie der Übermittlung ausdrücklich zugestimmt haben. Eine Weitergabe
                                                Ihrer Daten an Dritte ohne ausdrückliche Einwilligung, etwa zu Zwecken
                                                der Werbung, erfolgt nicht.</p>
                                            <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der
                                                die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
                                                vorvertraglicher Maßnahmen gestattet.</p>

                                            <h6>4. Analyse Tools und Werbung</h6>
                                            <h6>Google Analytics</h6>
                                            <p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics.
                                                Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View,
                                                CA 94043, USA.</p>
                                            <p>Google Analytics verwendet so genannte "Cookies". Das sind Textdateien,
                                                die auf Ihrem Computer gespeichert werden und die eine Analyse der
                                                Benutzung der Website durch Sie ermöglichen. Die durch den Cookie
                                                erzeugten Informationen über Ihre Benutzung dieser Website werden in der
                                                Regel an einen Server von Google in den USA übertragen und dort
                                                gespeichert.</p>
                                            <p>Die Speicherung von Google-Analytics-Cookies erfolgt auf Grundlage von
                                                Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes
                                                Interesse an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot
                                                als auch seine Werbung zu optimieren.</p>
                                            <p><strong>Browser Plugin</strong></p>
                                            <p>Sie können die Speicherung der Cookies durch eine entsprechende
                                                Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch
                                                darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                                                Funktionen dieser Website vollumfänglich werden nutzen können. Sie
                                                können darüber hinaus die Erfassung der durch den Cookie erzeugten und
                                                auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an
                                                Google sowie die Verarbeitung dieser Daten durch Google verhindern,
                                                indem Sie das unter dem folgenden Link verfügbare Browser-Plugin
                                                herunterladen und installieren: <a
                                                        href="https://tools.google.com/dlpage/gaoptout?hl=de"
                                                        target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a>.
                                            </p>
                                            <p><strong>Widerspruch gegen Datenerfassung</strong></p>
                                            <p>Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern,
                                                indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie
                                                gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser
                                                Website verhindert: <a href="javascript:deactivateGATracking();">Google
                                                    Analytics
                                                    deaktivieren</a>.</p>
                                            <p>Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden
                                                Sie in der Datenschutzerklärung von Google: <a
                                                        href="https://support.google.com/analytics/answer/6004245?hl=de"
                                                        target="_blank">https://support.google.com/analytics/answer/6004245?hl=de</a>.
                                            </p>
                                            <p><strong>Auftragsdatenverarbeitung</strong></p>
                                            <p>Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung
                                                abgeschlossen und setzen die strengen Vorgaben der deutschen
                                                Datenschutzbehörden bei der Nutzung von Google Analytics vollständig
                                                um.</p>
                                            <p><strong>Demografische Merkmale bei Google Analytics</strong></p>
                                            <p>Diese Website nutzt die Funktion “demografische Merkmale” von Google
                                                Analytics. Dadurch können Berichte erstellt werden, die Aussagen zu
                                                Alter, Geschlecht und Interessen der Seitenbesucher enthalten. Diese
                                                Daten stammen aus interessenbezogener Werbung von Google sowie aus
                                                Besucherdaten von Drittanbietern. Diese Daten können keiner bestimmten
                                                Person zugeordnet werden. Sie können diese Funktion jederzeit über die
                                                Anzeigeneinstellungen in Ihrem Google-Konto deaktivieren oder die
                                                Erfassung Ihrer Daten durch Google Analytics wie im Punkt “Widerspruch
                                                gegen Datenerfassung” dargestellt generell untersagen.</p>

                                            <h6>5. Plugins und Tools</h6>
                                            <h6>YouTube</h6>
                                            <p>Unsere Website nutzt Plugins der von Google betriebenen Seite YouTube.
                                                Betreiber der Seiten ist die YouTube, LLC, 901 Cherry Ave., San Bruno,
                                                CA 94066, USA.</p>
                                            <p>Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten Seiten
                                                besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt.
                                                Dabei wird dem YouTube-Server mitgeteilt, welche unserer Seiten Sie
                                                besucht haben.</p>
                                            <p>Wenn Sie in Ihrem YouTube-Account eingeloggt sind, ermöglichen Sie
                                                YouTube, Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen.
                                                Dies können Sie verhindern, indem Sie sich aus Ihrem YouTube-Account
                                                ausloggen.</p>
                                            <p>Die Nutzung von YouTube erfolgt im Interesse einer ansprechenden
                                                Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes
                                                Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
                                            <p>Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der
                                                Datenschutzerklärung von YouTube unter: <a
                                                        href="https://www.google.de/intl/de/policies/privacy"
                                                        target="_blank">https://www.google.de/intl/de/policies/privacy</a>.
                                            </p>

                                            <h6>Cloudflare Turnstile</h6>
                                            <p>Wir nutzen auf unserer Website das Tool „Cloudflare Turnstile“. Anbieter
                                                ist die Cloudflare Inc., 101 Townsend St, San Francisco, CA 94107, USA
                                                (im Folgenden „Cloudflare“).</p>
                                            <p>Cloudflare Turnstile ist ein Tool, das uns hilft, die Sicherheit und
                                                Zuverlässigkeit unserer Website zu erhöhen. Cloudflare Turnstile
                                                überprüft, ob Sie ein Mensch sind, bevor Sie auf unsere Website
                                                zugreifen dürfen. Dazu wird Ihre IP-Adresse an einen Server von
                                                Cloudflare in den USA übertragen und dort gespeichert. Cloudflare
                                                verwendet die Daten ausschließlich zur Überprüfung, ob Sie ein Mensch
                                                sind. Die Daten werden nicht an Dritte weitergegeben.</p>
                                            <p>Die Nutzung von Cloudflare Turnstile erfolgt auf Grundlage von Art. 6
                                                Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse
                                                daran, seine Webangebote vor missbräuchlicher automatisierter Ausspähung
                                                und vor SPAM zu schützen.</p>
                                            <p>Weitere Informationen zu Cloudflare Turnstile finden Sie in der
                                                Datenschutzerklärung von Cloudflare unter: <a
                                                        href="https://www.cloudflare.com/privacypolicy/"
                                                        target="_blank">https://www.cloudflare.com/privacypolicy/</a>.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% include 'includes/right_sidebar.html' %}

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}
