{% extends 'base.html' %}
{% load static compress custom_tags markdownify %}

{% block extra_head %}
    {% if settings.question_editor == 'tiny' %}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="{% static 'js/tinymce.min.js' %}"></script>
    {% else %}
        <link href="{% static 'css/markdown.css' %}?v=1212" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/jquery-ui-12.min.css' %}?v=1212" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/ajaximageupload.css' %}?v=1212" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{% static 'js/md/Markdown.Converter.js' %}?v=1212"></script>
        <script type="text/javascript" src="{% static 'js/md/Markdown.Sanitizer.js' %}?v=1212"></script>
        <script type="text/javascript" src="{% static 'js/md/Markdown.Editor.js' %}?v=1212"></script>
        <script type="text/javascript" src="{% static 'js/md/jquery-ui-12.min.js' %}?v=1212"></script>
        <script type="text/javascript" src="{% static 'js/md/jquery.ajaxfileupload.js' %}?v=1212"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/jquery.tokeninput.js' %}?v=2323rwe"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tokeninput/token-input-facebook.css' %}?v=1wee4" />
    <script>
        var loading_img_src = '{% static "images/loading.gif" %}';
        var prePopulateTags = {% if tags and can_be_edited %}{{ tags|safe }}{% else %}[]{% endif %};
        var questionAlreadyAsked = '{{ request.GET.already_asked }}';
        var setAsArticle = '{{ request.GET.set_as }}';
        var tags_optional = {% if question and not can_be_edited %}true{% else %}false{% endif %};
        var question_delete_url = "{% url 'delete_question' question.id|default:0 %}";
    </script>
{% endblock %}

{% block main %}

    <section class="">
        <div class="container">

            <div class="custom_row">
                <div class="col-xl-9 pl-0 {% if show_confirm_alert %}pt-5{% else %}pt-4{% endif %}">

                    {% if question and not can_be_edited %}
                        <div class="feed_l_padding grey_text">
                            <span>Frage bearbeiten</span>
                            {% if not can_be_edited %}
                                <p class="font12">
                                    Diese Frage kann nicht mehr gelöscht werden. Du kannst zusätzliche EDITs hinzufügen.
                                </p>
                            {% endif %}
                        </div>
                    {% else %}
                        <h3 class="feed_l_padding">
                            <span>Kostenlos Frage stellen</span>
                        </h3>
                    {% endif %}

                    <article class="post feed_r_padding feed_l_padding">

                        <div class="blog-detail-description" style="padding-right: 0!important;">
                            <form method="post" class="mt-4" onsubmit="return check_form();">
                                {% csrf_token %}
                                {{ question_form.being_edited }}
                                {{ question_form.question_id }}

                                <div class="custom_row">
                                    <div class="col-sm-12">
                                        {% if not question or can_be_edited %}
                                            <div class="form-group">
                                                {{ question_form.title }}
                                                <small class="font12">{{ question_form.title.help_text }}</small>
                                                {% if title_error %}
                                                    <small class="text-danger font12 text-bold">{{ title_error }}</small>{% endif %}
                                            </div>
                                        {% else %}
                                            {{ question_form.title.as_hidden }}

                                            <h3 class="mb-0 font22 question_title mb-3" itemprop="name">
                                                {{ question.title|capfirst }}
                                            </h3>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="custom_row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {% if not can_be_edited %}
                                                <div itemprop="text"
                                                     class="mb-4 {% if request.user_agent.is_mobile %}image_size_mobile{% endif %}">
                                                    {% if settings.question_editor == 'tiny' %}
                                                        {{ question.text|safe }}
                                                    {% else %}
                                                        {{ question.text|markdownify }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}

                                            {% if settings.question_editor == 'md' %}
                                                <div id="wmd-button-bar"></div>
                                                {% include 'question/includes/image_upload.html' %}
                                            {% endif %}

                                            {{ question_form.question_text }}

                                            {% if settings.question_editor == 'tiny' and can_be_edited %}
                                                <p class="mt-3 text-bold">
                                                    <a href="{% static 'files/mathjax_howto.pdf' %}"
                                                       class="font12 link_color"
                                                       target="_blank">
                                                        Hinweis: So gibst du Formeln ein.
                                                    </a>
                                                </p>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                                <div class="custom_row">
                                    <div class="col-sm-12">
                                        {% if not can_be_edited %}
                                            <div class="tagcloud mb-4">
                                                {% for tag in question.tag_names|listify %}
                                                    <a class="text-bold link_color"
                                                       href="{% url 'questions_with_tag' %}?tag={{ tag|remove_hash }}">{{ tag|capfirst }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <label class="light_bold mb-0" id="question_tags_label">Tags</label>
                                            <small class="font12 d-block mb-2">
                                                Füge bis zu 5 Tags hinzu, um zu beschreiben, worum es bei deiner
                                                Frage geht
                                            </small>
                                            {{ question_form.question_tags }}
                                        </div>
                                    </div>
                                </div>

                                <div class="custom_row mt-2">
                                    <div class="col-sm-12">
                                        <label>Vorschau</label>
                                        <hr>
                                        {% if settings.question_editor == 'tiny' %}
                                            <div id="MathPreview"></div>
                                            <div id="MathBuffer"></div>
                                        {% else %}
                                            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                                        {% endif %}
                                        <hr>
                                    </div>
                                </div>

                                <div class="custom_row mt-3">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}"></div>

                                            <button name="submit"
                                                    type="submit"
                                                    {% if request.user_agent.is_mobile %}
                                                    style="width: 100%!important;"
                                                    {% else %}
                                                    style="min-width: 200px!important;"
                                                    {% endif %}
                                                    id="submit_question_btn"
                                                    class="btn lrm-button font18">
                                                {% if question %}
                                                    Speichern
                                                {% elif request.user.is_authenticated %}
                                                    Jetzt Frage stellen
                                                {% else %}
                                                    Weiter
                                                {% endif %}
                                            </button>

                                            {% if request.user.is_authenticated and question %}
                                                {% if request.user.id == question.user_id and question.can_be_deleted %}
                                                    <button type="button"
                                                            class="delete-question btn-danger btn ml-2 no_text_transform font18"
                                                            data-question-id="{{ question.id }}">
                                                        Löschen
                                                    </button>
                                                {% elif request.user.profile.is_moderator %}
                                                    <button type="button"
                                                            class="delete-question btn-danger btn ml-2 no_text_transform font18"
                                                            data-question-id="{{ question.id }}">
                                                        Löschen
                                                    </button>
                                                {% endif %}
                                            {% endif %}

                                            {% if question %}
                                                <a href="{{ question.get_absolute_url }}" class="ml-3 mr-3 mf_color">
                                                    Abbrechen
                                                </a>
                                            {% endif %}

                                            <p class="font13 mt-4">
                                                Bitte lade keine urheberrechtlich geschützten Materialien, wie z. B.
                                                ganze Seiten aus einem Schulbuch, hoch. Du würdest doch auch nicht
                                                wollen, dass jemand deine Arbeit einfach so ohne Erlaubnis irgendwo im
                                                Internet veröffentlicht, oder? Auch klausurzulassungspflichtige
                                                Übungsblätter
                                                dürfen nicht hochgeladen werden. Das wäre ziemlich unfair gegenüber
                                                deinen Kommilitonen. Einzelne Ausschnitte aus Übungsblättern und Büchern
                                                sind aber kein Problem, solange du die Quelle nennst und dich aktiv an
                                                der Erarbeitung einer Lösung beteiligst.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </article>
                </div>
                {% include 'includes/right_sidebar.html' %}
            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}

{% block extra_js_bottom %}
    {% compress js file %}
        <script type="text/javascript">
            $(function () {

                let options = {
                    theme: "facebook",
                    hintText: 'Nach passendem Tag suchen',
                    searchingText: 'wird gesucht ...',
                    noResultsText: 'Wir finden nichts',
                    preventDuplicates: true,
                    minChars: 2,
                    prePopulate: prePopulateTags,
                    tokenValue: 'name'
                }
                $("#id_question_tags").tokenInput(searchForTag, options);

                $('#token-input-id_question_tags').on('keydown', function (e) {
                    if (e.keyCode === 32) {
                        var new_hashtag = $.trim($(this).val());
                        if (siteDomain.indexOf('mathefragen') < 0 && new_hashtag) {
                            $("#id_question_tags").tokenInput("add", {
                                id: Math.floor(Math.random() * 10000),
                                name: new_hashtag,
                                new: 'yes'
                            });
                            e.preventDefault();
                            return true;
                        } else {
                            e.preventDefault();
                            return false;
                        }
                    }
                });

                if (setAsArticle === 'article') {
                    $('#q_type').attr('checked', 'true');
                }

                $('.delete-question').on('click', function () {
                    var deletion_confirmed = confirm('Willst du die Frage wirklich loechen?');
                    if (deletion_confirmed) {
                        window.location.href = question_delete_url;
                    }
                });

                if (questionAlreadyAsked) {
                    alert('Frage wurde bereits gestellt.');
                }
            });
        </script>
    {% endcompress %}

    {% if settings.question_editor == 'tiny' %}
        {% compress js file v1 %}
            <script src="{% static 'js/mathjax_preview_v4.js' %}?v=98wijel"></script>
            <script src="{% static 'js/tinymce/plugins/custom_image_dialog/plugin.min.js' %}?v=wdww12"></script>
            <script type="text/javascript">
                tinymce.init({
                    selector: '#wmd-input',
                    menubar: false,
                    language: 'de',
                    entity_encoding: "raw",
                    force_br_newlines: true,
                    force_p_newlines: false,
                    forced_root_block: '',
                    plugins: 'custom_image_dialog lists media link',
                    toolbar: 'custom_image_dialog bold link italic forecolor backcolor underline numlist bullist',
                    image_title: false,
                    height: 400,
                    content_css: tinymce_custom_css_path + '?bogus=w76ewejf',
                    image_description: false,
                    images_upload_base_path: '/media/',
                    images_file_types: 'jpeg,JPEG,jpg,JPG,jpe,jfi,jif,jfif,png,PNG,gif,bmp,webp',
                    image_advtab: false,
                    setup: function (ed) {
                        ed.on('keyup', function (e) {
                            Preview.Update();
                        });
                        ed.on('focus', function (e) {
                            var style = $('.tox-tinymce').attr('style');
                            style += 'border-color: #6cbbf7!important;box-shadow: 0 0 0 4px rgb(0 149 255 / 15%)!important;';
                            $('.tox-tinymce').attr('style', style);
                        });
                        ed.on('blur', function (e) {
                            var style = $('.tox-tinymce').attr('style');
                            style = style.replace('border-color: #6cbbf7!important;box-shadow: 0 0 0 4px rgb(0 149 255 / 15%)!important;', '');
                            $('.tox-tinymce').attr('style', style);
                        });
                    },
                    automatic_uploads: true,
                    file_picker_types: 'image file media',
                    file_browser_callback_types: 'image file media',
                });

                function check_form() {
                    /*
                    this function makes sure, the form is valid and all necessary fields are filled.
                    *  */

                    // check if question text is inserted
                    var question_text = $.trim(tinymce.get('wmd-input').getContent({format: 'text'}));
                    var inserted_hashtags = $('#id_question_tags').tokenInput('get');

                    if (!question_text) {
                        alert('Bitte beschreibe deine Frage ausführlicher.');
                        return false;
                        // tinymce.get('id_question_text').focus();
                    }

                    if (inserted_hashtags.length < 1 && !tags_optional) {
                        $('.token-input-list-facebook').css('border-color', '#CC444A');
                        $('#question_tags_label').css('color', '#CC444A');
                        alert('Bitte mindestens ein Hashtag eingeben');
                        return false;
                    }

                    $('#submit_question_btn').attr('disabled', 'disabled');

                    // track mixpanel event
                    if (typeof mixpanel != "undefined") {
                        mixpanel.track(
                            'frage_posten',
                            {'referrer': http_referer}
                        );
                    }
                    return true;
                }

                $(function () {
                    Preview.Init('wmd-input', 'MathPreview', 'MathBuffer');

                    // editing, so preview directly on dom load
                    if (questionId) {
                        Preview.Update();
                    }
                });
            </script>
        {% endcompress %}

    {% else %}
        {% compress js file %}
            <script type="text/javascript">
                function check_form() {
                    /*
                    this function makes sure, the form is valid and all necessary fields are filled.
                    *  */

                    // check if question text is inserted
                    var question_text = $('#wmd-input').val();
                    var inserted_hashtags = $('#id_question_tags').tokenInput('get');

                    var question_title = $.trim($('#id_title').val());
                    var is_bad_title = (
                        question_title.indexOf('Frage') >= 0 ||
                        question_title.indexOf('helf') >= 0 ||
                        question_title.indexOf('??') >= 0 ||
                        question_title.indexOf('Bitte') >= 0 ||
                        question_title.indexOf('dringend') >= 0
                    )
                    if (is_bad_title) {
                        $('#id_title').css('border-color', '#CC444A');
                        alert('Bitte beschreibe deine Frage ausführlicher.');
                        $('#id_title').focus();
                        return false;
                    } else {
                        $('#id_title').removeAttr('style');
                    }


                    if (!question_text) {
                        alert('Bitte beschreibe deine Frage ausführlicher.');
                        // tinymce.get('id_question_text').focus();
                        return false;
                    }

                    if (inserted_hashtags.length < 1 && !tags_optional) {
                        $('.token-input-list-facebook').css('border-color', '#CC444A');
                        $('#question_tags_label').css('color', '#CC444A');
                        alert('Bitte mindestens ein Hashtag eingeben');
                        return false;
                    }

                    $('#submit_question_btn').attr('disabled', 'disabled');

                    // track mixpanel event
                    if (typeof mixpanel != "undefined") {
                        mixpanel.track(
                            'frage_posten',
                            {'referrer': http_referer}
                        );
                    }
                    return true;
                }
            </script>
            <script type="text/javascript" src="{% static 'js/app_markdown.js' %}?v=as9qweswk"></script>
        {% endcompress %}
    {% endif %}
{% endblock %}
