{% extends 'base.html' %}
{% load static custom_tags %}

{% block wrapper_extra_class %}math_background{% endblock %}

{% block main %}

    <section class="pt-5" style="padding-bottom: 400px">
        <div class="container login_container">

            <div class="custom_row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-8 col-xl-5">

                    <div class="card login_card" style="background-color: transparent; box-shadow: none!important;">
                        <div class="card-body">
                            <h5 class="card-title mb-3 mt-3">Password vergessen?</h5>
                            <p>
                                Fordere einfach ein neues Passwort an.
                                Mit welcher E-Mail-Adresse bist Du bei uns angemeldet?
                            </p>

                            <div class="card-text">
                                <form method="post" class="mt-1">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                                    <input type="hidden" name="qh" value="{{ request.GET.qh }}">

                                        <div class="mb-3">
                                            <input type="email" name="email"
                                                   required autofocus
                                                   class="form-control"
                                                   placeholder="Deine E-Mail">
                                        </div>
                                        <div class="mb-3">
                                            <button name="submit"
                                                    type="submit"
                                                    id="submit"
                                                    class="btn lrm-button w-100 font18 h-100 cursor_pointer">
                                                Absenden
                                            </button>
                                        </div>

                                        <div class="">
                                            {% if error %}
                                                <p class="mt-3 text-danger text-bold">
                                                    {{ error }}
                                                </p>
                                            {% endif %}

                                            {% if request.GET.email_not_found %}
                                                <div class="alert alert-danger fade font14 show" role="alert">
                                                    Diese E-Mail existiert bei uns in der Datenbank nicht. <br>
                                                    Villeicht ein Tippfehler? Wenn du nicht weiterkommst, bitte
                                                    kontaktiere uns via Support Button rechts.
                                                </div>
                                            {% endif %}

                                            {% if request.GET.password_is_set %}
                                                <div class="alert alert-success fade font14 show" role="alert">
                                                    Du hast Post! <br>
                                                    Wir haben Dir eine E-Mail an diese Adresse geschickt.
                                                    Die E-Mail enthält einen Link zum Zurücksetzen Deines
                                                    Passworts. Danach kannst Du gleich Dein neues Passwort festlegen.
                                                </div>
                                            {% endif %}


                                        </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}
