{% extends 'base.html' %}
{% load custom_tags static %}

{% block main %}

    <section class="mt-3">
        <div class="container">

            <div class="custom_row">
                <div class="col-xl-9 pr-0 pl-0 {% if show_confirm_alert %}pt-5{% else %}pt-4{% endif %} mb-5">

                    {% include 'user/nav.html' %}
                    {% include 'user/tabs/socials.html' %}

                </div>

                {% include 'includes/right_sidebar.html' %}

            </div>

        </div>
        <!-- end container -->
    </section>

{% endblock %}

{% block extra_js_bottom %}
    <script>
        $(function () {
            $('.delete_social').on('click', function () {
                var delete_link = $(this).data('delete-link');
                var confirm_delete = confirm('Möchtest du diesen Eintrag wirklich löschen?');
                if (confirm_delete) {
                    window.location.href = delete_link;
                }
            });
        });
    </script>
{% endblock %}
