{% load static %}
<footer class="container py-1">
    <div class="custom_row ml-3 mr-3">
        <div class="col-12 col-md-3 col mb-4">
            <img src="{{ settings.logo_icon.url }}" alt="logo" class="footer_logo">
            <small class="font12 d-block mb-3 mt-2">
                © {% now "Y" %} Daniel Jung Media GmbH
            </small>
        </div>
        {% for footer_column in footer_columns %}
            <div class="col col-6 col-md-3">
                {% if footer_column.header %}
                    <h6>{{ footer_column.header }}</h6>
                {% endif %}
                <ul class="list-unstyled text-small">
                    {% for row in footer_column.rows.all %}
                        <li>
                            {% if row.link %}
                                <a class="no_color_link" href="{{ row.link }}"
                                   {% if row.open_new_tab %}target="_blank"{% endif %}>
                                    {{ row.link_text }}
                                    {% if row.image %}
                                        <br>
                                        <img src="{{ row.image.url }}" width="100" alt="">
                                    {% endif %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</footer>
